<!DOCTYPE html>
<html>
<head>
  <title>Tci</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<script src='//cameratag.com/api/v5/js/cameratag.js' type='text/javascript'></script>

<script>
  	window.setTimeout(function() {
    window.location.href = '/<%= yield(:next) %>';
}, <%= yield(:mseconds) %>);

  </script>

</head>
<body>

<div class="container">

<div class="carousel-warp">
<section>

<%= yield %>

</section>
</div>

<footer>

<form class="button_to" method="get" action="/preparation" style="visibility:<%= yield(:visibility) %>">
	<input class="button" id="left" type="submit" value="Sample Question">
</form>

<form class="button_to" method="get" action="/<%= yield(:next) %>">
	<input class="button" id="right" type="submit" value="<%= yield(:rb) %>">
</form>

</footer>

</div>

</body>
</html>
